{{ form_start(form) }}
    {{ form_row(form.Email, {'label': 'Ne ratez aucune info en vous inscrivant sur nore Newlesters !', 'attr':
        {'placeholder': 'Email...'}}) }}
    <button type="submit" class="btn btn-danger ">Inscription</button>


{{ form_end(form) }}
