{% extends 'base.html.twig' %}

{% block title %}Spectacles index{% endblock %}

{% block body %}
    <div class="container_spectacles_list">
        {% for spectacle in spectacles %}
        <div class="d-flex justify-content-center">
        <div class="spectacle_current col-6 p-4">
            <img src="{{ spectacle.image }}">
            <h1>{{ spectacle.nom }}</h1>
            <blockquote>{{ spectacle.description }}</blockquote>
            <p> À partir du : {{ spectacle.dates|date('Y-m-d') }}</p>
            <a href="#" class="btn btn-primary btn-danger"> Reservez !</a>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
