{% extends 'base.html.twig' %}

{% block title %}New Spectacles{% endblock %}

{% block body %}
    <h1>Create new Spectacles</h1>

    {{ include('spectacles/_form.html.twig') }}

    <a href="{{ path('spectacles_index') }}">back to list</a>
{% endblock %}
