{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}
<div class="container_boutique">
    <div class="titre_boutique"><h1>La boutique du Circus ouvre ses griffes</h1></div>
    <div class="image_boutique">
    <img src="http://www.lemanoirdeparis.fr/media/boutique3__055547000_1412_16082017.jpg">
    </div>
    <div class="description_boutique">
    <blockquote>Lorem Ipsum <a href="{{ path('venir') }}"> Où nous trouver ?</a></blockquote>
    </div>
</div>
{% endblock %}
